.top-box {
    width: 100%;
    background-color: #2F94DB; 
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-box h1 {
    color: white;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}
.note{
   width: 85%;
    background-color: #ACD7F6; 
    padding: 13px ;
    margin:40px auto;
    
    text-align: center;
    border-radius: 20px;
    
}
.note h5 {
color: white;
text-align:left;
margin: 20px;
font-size: 20px;
}
.note p{

    color:#989494;
    text-align:left;
    margin:15px;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;

    width: 300px;/*for, size*/
    text-align: center;
} 

/* Inputs and select styling */
input[type="text"], select {
    width: 90%;
    padding: 10px;/*more space inside*/
    margin: 8px 0;/*space between fields*/
     border-radius: 8px;
    border: 1px solid #ACD7F6;
    font-size: 16px;
}

/* ADD button styling */
#addStudentBtn {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(135deg, #53ACEB, #2F94DB);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 3px 8px #00000026;
}

#addStudentBtn:hover {
    background: linear-gradient(135deg, #3a8acb, #227fbe);
    transform: scale(1.03);
}

/* navbar  */
.bottom-nav {
    position: fixed;
    bottom: 17px;   
    left: 50%;
    transform: translateX(-50%);
    
    width: 80%;
    padding: 12px 0;      /* ↓ was 20px → now smaller */

    background-color: #A9D6F5;
    border-radius: 20px;  /* slightly smaller corners */
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 4px 10px #00000026;
}

/* Icon styling */
.bottom-nav i {
    font-size: 24px;      /* ↓ was 28px */
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover effect */
.bottom-nav i:hover {
    transform: scale(1.15);
}

/* Active (highlighted) icon */
.bottom-nav a.active {
  background-color: white;
  width: 48px;   /* ↓ was 55px */
  height: 48px;  /* ↓ was 55px */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-nav a.active i {
  color: #2F94DB;
}
