.top-box {
    width: 100%;
    background-color: #2F94DB; 
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-box h1 {
    color: white;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

/* CONTENT */
.content {
    padding: 25px;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.module-name {
    font-size: 16px;
    font-weight: bold;
    color: #2F94DB;
    margin-bottom: 8px;
}

/* CLASS BLOCK SECTION BUTTONS */
.class-block {
    margin-bottom: 30px;
}

.section-btn {
    background-color: #cfe7fa;
    border: none;
    padding: 10px 28px;
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 14px;
    color: #4f5357;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.15);
    cursor: pointer;
}


/* navbar  */
.bottom-nav {
    position: fixed;
    bottom: 17px;   
    left: 50%;
    transform: translateX(-50%);
    
    width: 80%;
    padding: 12px 0;      /* ↓ was 20px → now smaller */

    background-color: #A9D6F5;
    border-radius: 20px;  /* slightly smaller corners */
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Icon styling */
.bottom-nav i {
    font-size: 24px;      /* ↓ was 28px */
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover effect */
.bottom-nav i:hover {
    transform: scale(1.15);
}

/* Active (highlighted) icon */
.bottom-nav a.active {
  background-color: white;
  width: 48px;   /* ↓ was 55px */
  height: 48px;  /* ↓ was 55px */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-nav a.active i {
  color: #2F94DB;
}
