body {
    margin: 0;
    padding: 0;
    background-color: #55ADEF;  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px; 
    color: white;
    letter-spacing: 2px;
    text-shadow: 3px 3px 10px #000000; 
    transition: transform 0.3s ease, text-shadow 0.3s ease; 
}

.title:hover {
    transform: scale(1.1); 
    text-shadow: 4px 4px 12px #000000; 
}

.circle {
    width: 280px;
    height: 280px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo {
    width: 100%;
    position: absolute;
    z-index: 4;
    border-radius: 50%;
}



/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);/*it moves slightly down when appearing*/
    }
}
