/* centered: title,text,form */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* title:login: */
h1 {
    color: #000000;
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

/* p: welcome text */
p {
    color: #8C8C8C;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Form styling:la carte */
form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #00000033; 
    width: 300px;
    text-align: center;
} 

/* Inputs and select styling */
input[type="text"], select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Submit button login styling */
input[type="submit"] {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    background-color: #53ACEB;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;/*ki n7arek mouse over the button so the mouse cursor changes into a hand icon*/
    transition: background-color 0.5s;
}

/* Submit button hover effect */
input[type="submit"]:hover {
    background-color: #3a8acb;/* ki n7arek mouse over the button the color becomes darker*/
}

