/* GLOBAL PAGE STYLE */
body {
    font-family: Arial, sans-serif;
    background: #f7faff;
    margin: 0;
    padding: 0;
}

/* Back Button */
.go-back {
    margin: 20px;
    background: none;
    border: none;
    color: #2F93DB;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.go-back:hover {
    text-decoration: underline;
}

/* PAGE TITLE */
.section {
    text-align: center;
    margin-top: 10px;
}

.section h2 {
    font-size: 24px;
    color: #2F94DB;
}

/* TABLE WRAPPER */
.table-wrapper {
    width: 95%;
    margin: 20px auto;
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #cfe7fa;
}

thead th {
    padding: 12px;
    font-size: 14px;
    color: #4f5357;
}

tbody td {
    padding: 10px 5px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

/* CHECKBOX STYLE */
input[type="checkbox"] {
    transform: scale(1.3);
    cursor: pointer;
}

/* REPORT BUTTON */
#showReportBtn {
    display: block;
    margin: 25px auto;
    background: #2F94DB;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    font-size: 15px;
}

/* REPORT SECTION */
#reportSection {
    background: white;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

#reportSection h3 {
    color: #2F94DB;
    margin-bottom: 15px;
}

