.top-box {
    width: 100%;
    background-color: #2F94DB; 
    padding: 35px 0;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-box h1 {
    color: white;
    margin: 5px 0 10px 20px; 
    font-size: 25px;
    font-weight: bold;
}
.top-box p{
    color:#BFBFBF;
   margin: 5px 0 5px 20px; 

}

/* Attendance Record Card */
.attendance-card {
    background: #ffffff;
    border: 2px solid #cce6ff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attendance-text h3 {
    margin: 0;
    font-size: 22px;
}

.attendance-text span {
    color: #000000;
    font-weight: bold;
}

.attendance-text p {
    color: #7a7a7a;
    margin-top: 10px;
    font-size: 14px;
}

.attendance-img img {
    width: 150px;
}

.module-list {
    display: block !important;
    width: 100%;
    margin-top: 20px;
}

.module-btn {
    display: block !important;
    width: 90% !important;        
    max-width: 500px;              
    margin: 25px;      
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #d9d9d9;
    background: white;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}


/* Hover Effect */
.module-btn:hover {
    background: #eaf6ff;
    border-color: #2a90e0;
}


/* ---------- SMARTPHONE VIEW ---------- */
@media screen and (max-width: 480px) {

    /* Top Header Box */
    .top-box {
        padding: 25px 0;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .top-box h1 {
        font-size: 20px;
        margin: 5px 0;
    }

    .top-box p {
        font-size: 14px;
        margin: 0;
    }

    /* Attendance Card */
    .attendance-card {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 15px;
    }

    .attendance-text h3 {
        font-size: 18px;
    }

    .attendance-text p {
        font-size: 13px;
    }

    .attendance-img img {
        width: 120px;
    }

    /* Modules Section */
    .modules-title {
        text-align: center;
        font-size: 18px;
        margin-top: 30px;
    }

    .module-list {
        align-items: center;
        gap: 15px;
    }

    .module-btn {
        width: 90%;
        max-width: 300px;
        padding: 12px 0;
        font-size: 16px;
    }
}
























